* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#page {
    
}